{% load i18n %}
<br>
<p>
    {% blocktrans %} Derechos de autor © [2024] [ConquerBlocks]. Todos los derechos reservados. 
    Queda prohibida la reproducción total o parcial de los contenidos de este sitio web, incluyendo textos, imágenes, diseños y cualquier otro material, sin la autorización expresa por escrito del propietario del sitio. 
    Todos los logotipos, marcas registradas y nombres comerciales que aparecen en este sitio son propiedad de sus respectivos dueños. 
    Se prohíbe cualquier uso no autorizado de los mismos. {% endblocktrans %}  <a href="{% url 'core:avisoslegales' %}">{% trans "Avisos legales" %}</a>
</p>