<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Titulo base{% endblock %}</title>
    <style>

        .message.info {
            color: darkblue;
        }

        .message.error {
            color: red;
        }

        .message.warning {
            color: gold;
        }

        .message.success {
            color: darkgreen;
        }

    </style>
<head>
<body>
    <h1>{% block page_title %}Titulo base{% endblock %}</h1>
    {% include '_includes/_menu_principal.html' %}

    {% block page_content %}
        
    {% endblock%}

    {% include '_includes/_footer_principal.html' %}
</body>
</html>