{% extends 'general/layout.html' %}
{% load i18n %}

{% block head_title %}{% trans "Registro" %}{% endblock %}
{% block page_title %}{% trans "Crea una nueva cuenta" %}{% endblock %}
{% block page_content %}
<h1>{% blocktrans %}Registro{% endblocktrans %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <br>
    <div>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <br>
    <div>
        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <br>
    <div>
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <br>
    <button type="submit">Registrarse</button>
</form>
{% endblock %}
